@import url('color-palette.css');

:root {
	--icon-size: 80px;
	--cut-percent: 20%;
	--logo-rel-size: 65%;
	--icon-fade-stops: 20%;
	--circle-color: var(--user-color);
	
}
.studio-icon {
	display: block;
	position: relative;
	width: var(--icon-size);
	height: var(--icon-size);
	border-radius: 50%;
	overflow: hidden;

	clip-path: inset(0% 0% var(--cut-percent, 0%) 0%);

	background-color: var(--circle-color);
	background-image: url('../imgs/mars-studio-icon.png');
	background-size: var(--logo-rel-size);
	background-position: center;
	background-repeat: no-repeat;
}
.studio-icon::after {
	content: "";
	position: absolute;
	inset: 0;
	background: linear-gradient(
		to bottom,
		transparent 0%,
		transparent var(--icon-fade-stops),
		var(--cave-top-color) 100%
	);
	pointer-events: none;
}