:root {
	--cut-percent: 20%;
	--logo-rel-size: 65%;;
	--circle-color: #a7ead5;
}
.icon {
	display: block;
	min-width: 64px;
	min-height: 64px;
	position: relative;
}
.circle {
	border-radius: 50%;
	background-color: var(--circle-color);
	overflow: hidden;
}
.half-circle {
	clip-path: inset(0% 0% var(--cut-percent, 0%) 0%);
}
.half-circle-grad {
	clip-path: inset(0% 0% var(--cut-percent, 0%) 0%);
	background-color: rgba(#00aaff, 0.3);
}
.rich-studio-icon {
	background-image: url('../imgs/mars-studio-icon.png');
	background-size: var(--logo-rel-size);
	background-position: center;
	background-repeat: no-repeat;
	position: absolute;
}